

PORT=3001

##  DB_USER=sa   ## NO need to use DB_USER=sa since we are using Windows Authentication
## DB_PASSWORD= ********   ## So, NO password is needed.


DB_SERVER=My_SQL_SERVER
DB_DATABASE=SalesOrderAPI_DB

# Use true for a local SQL Server using a self-signed certificate.
DB_TRUST_CERT=true
